$easeOutExpo:cubic-bezier(0.19, 1, 0.22, 1); /* easeOutExpo */
$easeInExpo:cubic-bezier(0.420, 0.000, 1.000, 1.000); /* easeInExpo */
$easeInOutExpo:cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */

$orange:#f49347;
$blue:#121212;
$light_blue:#527bf7;
